elements/state_machine.json
{
  "StartAt": "ValidarDatosUsuario",
  "States": {
    "ValidarDatosUsuario": {
      "Type": "Task",
      "Resource": "${ValidatorLambdaArn}", 
      "Next": "EsMayorDeEdad"
    },
    "EsMayorDeEdad": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.edad",
          "NumericGreaterThanEquals": 18,
          "Next": "GuardarEnDynamoDB"
        }
      ],
      "Default": "RechazarPorEdad"
    },
    "GuardarEnDynamoDB": {
      "Type": "Task",
      "Resource": "${WriterFunctionArn}",
      "End": true
    },
    "RechazarPorEdad": {
      "Type": "Fail",
      "Error": "EdadNoPermitida",
      "Cause": "El usuario debe ser mayor de 18 años."
    }
  }
}